sphinx==7.2.5
sphinx_rtd_theme==1.3.0
sphinxcontrib-katex==0.9.7
sphinxcontrib-bibtex==2.6.1
sphinx-autodoc-typehints==1.24.0
IPython==7.16.1
ipykernel==5.3.4
pandoc==2.3
myst_nb==0.13.1
docutils==0.20.1
matplotlib==3.5.0
